<section>
        <div class="container">
                        <div class="row">
                            <div class="col-sm-5 right bottom-section">
                                <h1 style="font-size: 30px">{{ .Site.Params.homepage_bottom_section.title }}</h1>
                                <p>What is it that you really, really want? The honest truth is, we get one short life &ndash; let&rsquo;s make sure you are living it to the fullest. Beliefs that don&rsquo;t serve you well need to be challenged. Rose helps her clients take control of their futures and act from a place of self-love rather than fear. With a focus on financial empowerment and wellbeing, she guides women to develop the confidence to make informed decisions about their money. &quot;Financial Literacy is one of the highest forms of self-care, but the most often overlooked - especially by women, who historically have been underserved in financial education&quot;.</p>

<h1 style="font-size: 30px">Do you want?......</h1>

<ul>
    <li>	to get rid of the issue you are struggling with once and for all?</li>
    <li> to break free from old beliefs that are holding you back?</li>
    <li> to trust that you are worthy of the life you truly want?</li>
    <li>	to become more financially literate, and to gain confidence and control over your financial life?</li>
    </ul>
                            </div>
                            <div class="col-sm-7">
                                <img class="img-responsive half-page-img" src="img/Rose10.jpg" alt="picture of Rose">
                            </div>
                        </div>
                </div>
</section>