<section class="bar background-gray no-mb text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                </div>
                <div class="text-section" style="font-size: 20">
                <p>Rose is a&#160;fully Certified Life Coach and NLP Practitioner in London's Harley Street, with a BSc degree in Psychology. She built a successful career within the corporate world at IBM and has since developed a passion for helping women take control of their financial futures by providing a supportive 1-2-1 environment for positive change.</p>

                <p>With her personalized approach to financial coaching, Rose passionately believes financial empowerment is not about chasing perfection or status. Her hope is that the work she does helps women connect to their authentic financial goals to find more freedom and delight in life, and to achieve new financial successes.</p>
                
                <p>With her tailored financial coaching approach, Rose offers transformative guidance aimed at removing limiting beliefs, boosting financial confidence, and fostering empowerment for positive financial change.</p>
                
                <p>From enhancing financial literacy and professional growth to navigating financial planning and addressing financial anxiety or confidence issues, coaching sessions cover a wide spectrum. Rose takes absolute pride in her work and strives for nothing short of outstanding outcomes.</p>
                
                <p>Her mission is to empower women to unleash their full financial potential and become the best version of themselves. As a fully qualified coach and a Psych BSc Hons, Rose works with clients in London's Harley Street and across the globe online, providing you with a safe and comfortable environment to talk and the flexibility of location.</p>
                
                <p>Rose is a member of the Association For Coaching and Association For NLP and has 3 internationally recognised qualifications: NLP Practitioner; Certificate in Business &amp; Life Coaching; and the First Aid Mental Health For Coaches &amp; NLP Practitioners (Level 2 Award in First Aid For Mental Health). Rose is also fully supervised, ensuring only the best quality of care to her clients.</p>
            
            </div>
            </div>
        </div>
    </div>
    </section>