/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
.owl-wrapper-outer {
    height: 70vh;
}

.home-carousel .dark-mask {
    opacity: 1;
}

.home-carousel h1 {
    font-size: 30px;
}

.text-section p {
    font-size: 20px;
}

.bottom-section * {
font-size: 20px;
}

.half-page-img {
    max-height: 60%;
}