<section>
        <div class="container">
                        <div class="row">
                            <div class="col-sm-5 right bottom-section">
                                <h1 style="font-size: 30px">Page 2 Title Goes Here</h1>
                                <p>Page 2 text goes here</p>
                                </div>
                            <div class="col-sm-7">
                                <img class="img-responsive half-page-img" src="{{ "img/page2image.jpg" | relURL  }}" alt="picture of Rose">
                            </div>
                        </div>
                </div>
</section>